<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest Buddies</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include("partials/navigation.ejs") %>
    <br><br>
    <h1>Hello <%= user.name %>! Welcome to Interest Buddies..!! This website allows you to interact with people of similar mindsets.</h1>
</body>
</html>
